.hero-section{
   position: relative;
   color: #ffffff;
   z-index: 1;
   /* overflow: hidden; */
   height: 100vh;
   width: 100%;
}
.hero-section::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.hero-section::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 80px;
    background-color: black;
    top: 96%;
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: -20px;
    z-index: 1;
}

.blureffectcontainer{
    position: relative;
    width: 100%;
    background-color: red;
    top: 92%;
    display: flex;
    z-index: 2;
}

.blueeffect{
    position: absolute;
    background-color: rgba(0, 0, 255, 0.2);
    width: 50%;
    height: 80px;
    left: 50%;
    border-bottom-left-radius: 1000%;
    border-bottom-right-radius: 1000%;

    transform: translateX(-50%);
    bottom: 0;
    filter: blur(20px);
    z-index: 2;
}

svg{
    position: absolute;
    bottom: -320px;
    left: 0;
    width: 100%;
    z-index: 3;
}

.hero-section header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 7.9rem;
    z-index: 1;
}

.hero-section header .logo img{
    width: 150px;
}

 .langSign{
    display: flex;
    gap: 1rem;
}


 .signIn{
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 4px;
    padding: 0.1rem 1rem;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    line-height: 30px;
    font-size: 0.93rem;
}

.hero-section .hero-content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
}

.hero-section .hero-content .heading{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0.8rem 0;
}

.hero-section .hero-content .small-content{
    font-size: 1.3rem;
    font-weight: 600;
}




@media (max-width:1280px) {
    .hero-section header{
        padding: 1.3rem 2rem;
    }

    .hero-section .hero-content{
        top: 50%;
    }

    .hero-section .hero-content .heading{
        font-size: 2rem;
    }

    .hero-section .hero-content .small-content{
    font-size: 1rem;
}
}

@media (max-width:960px) {
    .hero-section header .logo img{
        width: 80px;
    }

    .hero-section header{
        padding: 1.3rem 1rem;
    }
}




