
 .langSign{
    display: flex;
    gap: 1rem;
}

.langSign .custom-dropdown{
    position: relative;
    width: 120px;
    border: 1px solid grey;
    border-radius: 4px;
    font-family: sans-serif;
}

.dropdown-header{
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.dropdown-header .arrow{
    margin-left: auto;
    font-size: 12px;
}

.dropdown-options{
    position: absolute;
    top: 33px;
    width: 100%;
    background: lightgrey;
    border: 1px solid #666;
    border-radius: 10px;
    box-sizing: content-box;
    z-index: 10;
}

.dropdown-options p{
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
}

.dropdown-options p:hover{
    color: gainsboro;
}


@media (max-width:528px) {

    .langtext{
        display: none;
    }

    .hero-section header .langSign .custom-dropdown{
        width: 60px;
    }
}
